@import url('https://fonts.googleapis.com/css2?family=Macondo+Swash+Caps&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #668F4F/*#61876E*/;
    color: #fccd69;
    line-height: 1.3;
    font-family: 'Poppins', sans-serif;

}

h1,h2,h3{
    
    font-family: 'Poppins', sans-serif;
    padding-bottom:1rem;
    font-weight: 700;
}

h1,h2{
    font-size: 2.1rem;
}

p{
    font-family: "Macondo Swash Caps", cursive;
    font-size: 1.8rem;
    font-weight: bold;
    padding-bottom: 1rem;
}

a{
    text-decoration: none;
    color: #FFE09C;
}

img{
    width: 100%;
}
li{
    list-style-type: none;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.flex-mobile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 0;
}

#top-menu{
    display: none;
}
/* rgb(113, 138, 121); */
#hero-section{
    background-color: rgb(91, 117, 100);
    position: relative;
    padding: 3rem 0;
    background-image: url("../Images/Hero-1.jpg");
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
}

#services-section{
    margin-top: 3rem;
}

#services-section h2{
    text-align: center;
}

/* 5c7d68 */
/* 5a7d66 */
.services-card{
    width: 90%;
    background-color: #668F4F;
    margin: 0 auto;
    border-radius: 10px;
    margin-bottom: 1rem;
    box-shadow: 0px 0px 10px #57714b;
}

.services-icon{
    color: #fccd69;
}

.services-card-top{
    background-color: #597549;
    padding: 1rem;
    display: flex; 
    gap: 8px;
}

.services-card-container{
    padding: 3rem;
}


.services-card h3{
    font-size: 1.15rem;
    align-self: center;
    padding: .1rem;
}

#why-chose-us-section h2{
    font-size: 1.9rem;
    text-align: center;
}

.card{
    margin: 0 auto;
    width: 90%;
    border-radius: 10px;
    background-color: #61876E;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 2rem;
}

.card h3{
    padding: 10rem;
    font-size: .2rem;
    align-self: center
}

.card p{
    font-size: 1.2rem;
}

.card img{
    height: 250px;
    border-radius: 10px 10px 0 0;
}

.card-container{
    padding: 5rem 1rem;
}
/* Utilities */
.button-small{
    display: inline-block;
    /* margin-top: 1.7rem; */
    padding: .7rem 1.2rem;
    background-color: #668F4F;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: .5rem;
}

.button-small:hover{
    background-color: rgb(77, 87, 80);
}
